.info-wrap-foot {
background-color: #6684a3
}
.footer-infos {
width: 20%;
float: left;
margin-right: 0;
}
.sub-cat {
margin: 0;
padding: 0;
color: #505053;
font-family: 'roboto';
font-size: 12px;
}
/*=========================================
============== Socials ============
===========================================*/

div.sub-cat img {
    width: 15px;
    height: 15px;
    border-radius: 10px;
}
div.socials {
position: relative;
left: 90%;
}