
body {
  background: linear-gradient(#cffbff, #faeefc);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}


/*=========================================
============== Top background =============
===========================================*/
#top-background{
  color: blueviolet;
  background-image: url(/images/laptop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-style: solid;
  border-width: thin;
  height: 600px;
  border-radius: 0px;
}


/*=========================================
============= Scrolling text ==============
===========================================*/
.scrolling-container {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  overflow: hidden;

  
}

.scrolling-text {
  display: inline-block;
  animation: scroll-left 10s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/*=========================================
================= Buttons ==================
===========================================*/
.hompage-buttons-section {
  padding-top: 50px; 
}

.category-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  gap: 25px; /*gap between buttons in same row */
}

.category-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: aliceblue;
  font-size: 32px;
  width: 230px;
  height: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 20px; /* Add padding */
}
.category-buttons a {
  text-decoration: none;
  color: aliceblue;
}

.phone {
  opacity: 1; /* Decrease the opacity of the element */
  background-image: url(../images/3.jpg);
  background-size: cover; /* Make the background image cover the container */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-position: center; /* Center the background image */
}

.laptop {
  opacity: 0.9; /* Decrease the opacity of the element */
  background-image: url(../images/laptop.jpg);
  background-size: cover; /* Make the background image cover the container */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-position: center; /* Center the background image */
}
.camera {
  opacity: 1; /* Decrease the opacity of the element */
  background-image: url(../images/camera.jpg);
  background-size: cover; /* Make the background image cover the container */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-position: center; /* Center the background image */
}

/*=========search==========*/
.search-container {
  display: flex;
  align-items: center;
}

.search-container input[type="search"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
  border: none;
}

.search-container button[type="submit"] {
  padding: 10px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-container button[type="submit"]:hover {
  background-color: #0069d9;
}


/*=========================================
============== Service details ============
===========================================*/
.sevice-details{
  background-color: #3f7189;
}


/*=========================================
============== Customer reviews ============
===========================================*/
.customer-reviews{
  background-color: #50556a;
}

/*=========================================
============== Footer ============
===========================================*/
.info-wrap-foot {
  background-color: #6684a3
}
.footer-infos {
  width: 20%;
  float: left;
  margin-right: 0;
}
.sub-cat {
  margin: 0;
  padding: 0;
  color: #505053;
  font-family: 'roboto';
  font-size: 12px;
  }
